<div class="mt-4">
    <div>
        <a href="/me/store/courses">Quay Lai</a>
        <h3>Khóa Học Đã Xóa</h3>

        <div class="mt-4 ml-4" >
            <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" id="checkbox-all" value="option1"
                    aria-label="...">
                <label for="checkbox-all">Chọn Tất Cả</label>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-danger btnRetore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-dark" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#DeleteCourse">Xóa Vĩnh Viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa có khóa học nào
                    <a href="/me/store/courses">danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Form Xóa --}}
<div class="modal" tabindex="-1" role="dialog" id="DeleteCourse">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa không</p>
            </div>
            <div class="modal-footer">
                <button id="CourseID" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form Ẩn --}}
<form method="post" name="delete-course-form" style="display: none"></form>
<form method="post" name="restore-course-form" style="display: none"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ID;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnCourse = document.getElementById('CourseID');
        var btnRestore = document.querySelectorAll('.btnRetore');
        var checkboxAll= document.getElementById('checkbox-all')

        $('#DeleteCourse').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            ID = button.data('id');
            console.log(ID);
        });

        btnCourse.onclick = function () {
            deleteForm.action = '/courses/' + ID + '/forever?_method=DELETE';
            deleteForm.submit();
        };

        btnRestore.forEach(function (button) {
            button.onclick = function (e) {
                e.preventDefault();
                var restoreId = button.getAttribute('data-id');
                restoreForm.action = '/courses/' + restoreId + '/restore?_method=PATCH';
                restoreForm.submit();
            };
        });
        
    });
</script>